@keyframes zoom {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1); /* Scale up to 110% */
    }
}

.animate-zoom {
    animation: zoom 2s ease-in-out forwards; /* 'forwards' keeps the last keyframe */
}

/* Animation Delay Classes */
.animate-delay-1 {
    animation-delay: 0s; /* No delay for the first card */
}

.animate-delay-2 {
    animation-delay: 2s; /* Delay for the second card to start after first completes */
}

.animate-delay-3 {
    animation-delay: 4s; /* Delay for the third card to start after second completes */
}

.user-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2d3748; /* bg-gray-800 */
    border-radius: 0.5rem; /* rounded-lg */
    padding: 1rem; /* p-4 */
    margin: 0.5rem; /* m-2 */
    width: 100%;
    height: 16rem; /* h-64 */
    transition: transform 0.5s, box-shadow 0.5s, background-color 0.5s;
}

/* Hover Effects */
.user-card:hover {
    transform: scale(1.05); /* Slightly scale up */
    box-shadow: 0 8px 30px rgba(0, 173, 72, 0.6); /* Increased shadow for more depth */
}
